@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
}

@theme {
  --container-width-sm: 100%;
  --container-width-md: 720px;
  --container-width-lg: 960px;
  --container-width-xl: 1200px;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-primary: #1959ac;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

.container {
  @apply mx-auto px-4;
}

body {
  @apply font-inter text-sm! lg:text-lg! text-black overflow-x-hidden!;
}

h1 {
  @apply font-roboto-condensed font-bold text-3xl sm:text-4xl md:text-5xl lg:text-[4rem]; /* small → medium → large */
}

h2 {
  @apply font-roboto-condensed font-bold text-xl sm:text-2xl md:text-3xl lg:text-[2.625rem];
}

h3 {
  @apply font-roboto-condensed font-bold text-lg sm:text-xl md:text-2xl lg:text-2xl;
}

h4 {
  @apply font-inter font-bold text-base sm:text-lg md:text-xl lg:text-xl;
}

/* @layer base { */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--container-width-sm);
}

@media (min-width: 640px) {
  .container {
    max-width: var(--container-width-md);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--container-width-lg);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--container-width-xl);
  }
}

section {
  @apply py-8 md:py-12 lg:py-16;
}

#testimonials .swiper-slide-active {
  @apply py-12;
}

#testimonials .swiper-wrapper {
  @apply items-center!;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #80b0ed;
  border-radius: 999px;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-pagination-bullet-active.custom-dot {
  width: 48px;
  background: #1959ac;
}
